---
layout: default
gallery:
  - column-size: col-6
    aspect-ratio: square
    background_image: /Images/the-sleep-co\ grass.jpg
    gallery:
  - column-size: col-6
    aspect-ratio: square
    background_image: /Images/the-sleep-co\ pup\ 5\ \(3\).jpg
    gallery:
  - column-size: col-12
    aspect-ratio: portrait-tall
    background_image: /Images/the-sleep-co\ dog\ lying\ in\ grass.jpg
  - column-size: col-4
    aspect-ratio: square
    background_image: /Images/pug\ photo-1517849845537-4d257902454a.jpg
  - column-size: col-4
    aspect-ratio: square
    background_image: /Images/the-sleep-co\ pup\ 1\ \(4\).jpg
  - column-size: col-4
    aspect-ratio: square
    background_image: /Images/pug\ photo-1517849845537-4d257902454a.jpg
---

<!--------------- Header banner ------------------>
<header class="grid tall-90 md-tall-80">

  {% include header-nav.html %}

  <div class="col-12 text-center">
    <h3 class="shadow xxl-text editable" data-aos="fade-in" data-aos-duration="1000">
     Who's a <span class="featured-text"> dog? </span> 
    </h3>
    <h1 class="font-weight-extra-bold shadow editable" data-aos="fade-up" data-aos-delay="500"> The Dog Walker </h1>
  </div>
</header>

<section class="padded"> 

  <div class="gallery grid">

{% for item in page.gallery %}

    <div class="{{item.column-size}}">
      <div class="bg-image {{item.aspect-ratio}}" style="background-image: url('{{item.background_image}}');">
      </div>
    </div> 

    {% endfor %}

  </div>

  <!-- <div class="gallery grid">
    <div class="col-6">
      <div class="bg-image square bg-img-1"></div>
    </div> 
    <div class="col-6">
      <div class="bg-image square bg-img-2 bg-pos-b"></div>
    </div> 
    <div class="col-4_xs-12">
      <div class="bg-image portrait-tall bg-img-3"></div>
    </div> 
    <div class="col-4_xs-12">
      <div class="bg-image portrait-tall bg-img-4"></div>
    </div> 
    <div class="col-4_xs-12">
      <div class="bg-image portrait-tall "></div>
    </div> 
    <div class="col-12">
      <div class="bg-image landscape bg-img-5"></div>
    </div> 
  </div> -->
</section>
