---
layout: default
featured: 
  - icon: fas fa-dog
    description: Lorem, ipsum dolor sit amet consectetur adipisicing elit. Enim provident quas similique dolorum facere, amet repellat a? Harum eveniet magnam similique a sequi, est quo repellendus obcaecati incidunt quia ipsa.
  - icon: fa-solid fa-cloud-sun-rain
    description: Lorem, ipsum dolor sit amet consectetur adipisicing elit. Enim provident quas similique dolorum facere, amet repellat a? Harum eveniet magnam similique a sequi, est quo repellendus obcaecati incidunt quia ipsa.
  - icon: fa-solid fa-clipboard-list
    description: Lorem, ipsum dolor sit amet consectetur adipisicing elit. Enim provident quas similique dolorum facere, amet repellat a? Harum eveniet magnam similique a sequi, est quo repellendus obcaecati incidunt quia ipsa.
  - icon: fa-solid fa-poo-storm
    description: Lorem, ipsum dolor sit amet consectetur adipisicing elit. Enim provident quas similique dolorum facere, amet repellat a? Harum eveniet magnam similique a sequi, est quo repellendus obcaecati incidunt quia ipsa.
---
    <!--------------- Header banner ------------------>
    <header class="grid tall-90 md-tall-80">

      {% include header-nav.html %}

      <div class="col-12 text-center">
        <h3 class="shadow xxl-text editable">
          You have to <span class="featured-text"> walk </span> <br />
          before you can
          <span class="featured-text"> run! </span>
        </h3>
        <h1 class="font-weight-extra-bold shadow editable">The Dog Walker</h1>
      </div>
    </header>

    <!--------------- Gallery/ about section ------------------>
    <section class="grid">
      <div class="padded col-6_sm-12-middle">
        <h2 class="editable">
          A <span class="featured-text"> tired </span> dog...
        </h2>
        <p class="editable">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam ipsa
          accusamus veritatis esse sunt delectus.
        </p>
        <p class="editable">
          Tempore consequatur sint. Nam minima sequi nobis voluptates fuga et id
          eaque enim dicta repudiandae. Lorem ipsum, dolor sit amet consectetur
          adipisicing elit. Mollitia odit sunt optio quam ut, doloremque in
          error laudantium quibusdam esse a? Eligendi dicta dolores recusandae
          exercitationem est reiciendis consectetur quos.
        </p>
      </div>
      <div class="bg-image bg-tired col-6_sm-12 tall-70">
        <!--Background image pup 1-->
      </div>
      <div class="bg-image bg-happy col-6_sm-12 tall-70 hide-sm">
        <!--Background image pup 2-->
      </div>
      <div class="padded col-6_sm-12-middle">
        <h2 class="editable">
          Is a <span class="featured-text editable"> happy </span> dog.
        </h2>
        <p class="editable">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam ipsa
          accusamus veritatis esse sunt delectus tempore consequatur sint. Nam
          minima sequi nobis voluptates fuga et id eaque enim dicta repudiandae.
        </p>
      </div>
    </section>

    <!-------------------- Features icon grid ---------------------->
    <section class="padded grid-center bg-dark">
      <div class="padded-sm col-12 text-center editable">
        <h2>Service you can <span class="featured-text"> rely </span> on</h2>
      </div>
<!------ Jekyll loop  ------->
      {% for item in page.featured %}
      <div class="padded-sm col-3_sm-6 xxs-stack editable">
        <i class="{{item.icon}}"></i>
        <p> {{item.description}} </p>
      </div>
      {% endfor %}
      
    </section>
    <!-------------------- Image banner ---------------------->
    <section class="padded text-center bg-pug tall-70 grid">
      <div class="col-12 big-text tall-70">
        <h3 class="editable">
          Make sure your dog gets the
          <span class="white-text"> love </span>
          and <span class="white-text"> care </span> it needs.
        </h3>
      </div>
    </section>

    <!-------------------- Testimonials section ---------------------->
    <section class="padded-lg grid text-center">
      <div class="col-1 text-right">
        <span class="quote-icon"> “ </span>
      </div>
      <div class="col-10 text-center">
        <p class="medium-text font-weight-light editable">
          I have so much more free time now that I don't have to walk my dog
          twice a day.
        </p>
        <p class="subtitle editable">-A very happy customer</p>
      </div>
      <div class="col-1">
        <span class="quote-icon"> " </span>
      </div>
    </section>
    
