<!-------------------- Footer ---------------------->
<footer class="padded grid-spaceBetween bg-dark">
  <div class="col-5-bottom">
    <h2 class="editable">
      Let's <span class="featured-text"> connect </span>
    </h2>
    <p class="editable">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur culpa
      sapiente eos quibusdam vel nulla ipsum veniam architecto, perferendis
      praesentium debitis laborum laudantium possimus iusto asperiores
      quaerat natus. Ad, magnam!
    </p>
  </div>
  <div class="col-5-bottom">
    <p class="editable">
      <strong class="featured-text"> Call: </strong>
      <a href="tell:#"> 09233 7722 </a>
    </p>
    <p class="editable">
      <strong class="featured-text"> Email: </strong>
      <a href="mailto:#"> walkme@thedogwalker.co </a>
    </p>
    <p class="editable">
      <strong class="featured-text"> Office: </strong> 55 Main Street,
      Baltimore
    </p>
    <p class="editable">
      <strong class="featured-text"> Instagram: </strong>
      <a href="https://www.instagram.com/"> @thedogwalker </a>
    </p>
  </div>
</footer>