<!-------------------- Testimonials section ---------------------->
<section class="padded-lg grid text-center">
  <div class="col-1 text-right">
    <span class="quote-icon"> “ </span>
  </div>
  <div class="col-10 text-center">
    <p class="medium-text font-weight-light editable">
      I have so much more free time now that I don't have to walk my dog
      twice a day.
    </p>
    <p class="subtitle editable">-A very happy customer</p>
  </div>
  <div class="col-1">
    <span class="quote-icon"> " </span>
  </div>
</section>