<!DOCTYPE html>
<html>
  <!-- This is the head of our html where we add resources and metadata -->
  <head>

  {% include head.html %}

  </head>

  <!-- This is the body, this is where all of your page content goes -->
  <body>

    {{ content }}

    <!-------------------- Footer ---------------------->
    {% include site-footer.html %}

    <!--------------- Contact button  ------------------>
    {% include get-button.html %}

    <!--------------- Javascript  ---------------------->
    {% include body-scripts.html %}
  </body>
</html>
